<div ngbDropdown class="d-inline-block" placement="right">
    <button [attr.id]="id" id="dropdownBasic2" ngbDropdownToggle style="position: relative; left: 23px;">{{tag}}</button>
    <div ngbDropdownMenu [attr.ariaLabeledby]="id" aria-labelledby="dropdownBasic2" style="width: 1000px; height: 100px;">
        <div class="card border border-white">
            <h5 class="card-header border border-white" style="background-color: white;">{{tag}}</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <button href="#"><strong>sub-categoria</strong></button>
                        <hr>
                    </div>
                    <div class="col">
                        <button href="#"><strong>sub-categoria</strong></button>
                        <hr>
                    </div>
                    <div class="col">
                        <button href="#"><strong>sub-categoria</strong></button>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                    <div class="col">
                        <button href="#">sub-sub-categoria</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>