<section class="official-stores" type="official-stores">
    <div class="row container">
        <div class="section-header">
            <h1>Las mejores tiendas te esperan</h1><a href="#" id="view-more">Ver tiendas</a>
        </div>
        <div class="slick-initialized slick-slider">
            <div role="presentation" class="slick-list">
                <div class="slick-track" style="opacity: 1; transform: translate3d(0px, 0px, 0px); width: 7200px;">
                    <div data-index="0" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 300px;">
                        <div class="ui-card official-stores-slide is-link" role="link" tabindex="0">
                            <div class="official-stores-slide-background"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/largesellers/132422133/whirlpool/background_home201802161234.jpg"></div>
                            <div class="official-stores-slide-logo"><img src="https://http2.mlstatic.com/D_Q_NP_871989-MLA25801430807_072017-AE.webp" width="80" height="80"></div>
                            <div class="title-wrapper">
                                <div class="official-stores-slide-title">Whirlpool</div>
                            </div>
                            <div class="official-stores-slide-items">
                                <a class="official-stores-slide-item" href="#" title="Heladera Minibar Whirlpool Wrx12 Inox 113l 220v"><img src="https://http2.mlstatic.com/D_Q_NP_724080-MLA31628552552_072019-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Cocina Whirlpool Wfb57dw 4 Multigas Blanca Puerta Visor"><img src="https://http2.mlstatic.com/D_Q_NP_987046-MLA41825273246_052020-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title=" Purificador Cocina Whirlpool Wab60 Ac. Inox. Empotrable 60cm X 15cm X 51cm Plateado 220v"><img src="https://http2.mlstatic.com/D_Q_NP_707761-MLA40245561774_122019-R.webp" width="70" height="70"></a>
                            </div>
                            <div class="official-stores-slide-action"><a href="#" id="view-more">Ver tienda</a></div>
                        </div>
                    </div>
                    <div data-index="1" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 300px;">
                        <div class="ui-card official-stores-slide is-link" role="link" tabindex="0">
                            <div class="official-stores-slide-background"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/largesellers/256318326/atma/background_home201801171036.jpg"></div>
                            <div class="official-stores-slide-logo"><img src="https://http2.mlstatic.com/D_Q_NP_638962-MLA25716465289_062017-AE.webp" width="80" height="80"></div>
                            <div class="title-wrapper">
                                <div class="official-stores-slide-title">Atma</div>
                            </div>
                            <div class="official-stores-slide-items">
                                <a class="official-stores-slide-item" href="#" title="Batidora De Mano Atma Bm8737n Blanca  220v - 240v"><img src="https://http2.mlstatic.com/D_Q_NP_950041-MLA40412767511_012020-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Pava Eléctrica Atma Pe5900n Transparente 1.7l"><img src="https://http2.mlstatic.com/D_Q_NP_727672-MLA40088738073_122019-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Horno Eléctrico Atma Hg5010e Gris 220v"><img src="https://http2.mlstatic.com/D_Q_NP_704373-MLA32708188518_102019-R.webp" width="70" height="70"></a>
                            </div>
                            <div class="official-stores-slide-action"><a href="#" id="view-more">Ver tienda</a></div>
                        </div>
                    </div>
                    <div data-index="2" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 300px;">
                        <div class="ui-card official-stores-slide is-link" role="link" tabindex="0">
                            <div class="official-stores-slide-background"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/largesellers/199939565/peugeotrepuestosyservicios/background_home201907150216.jpg"></div>
                            <div class="official-stores-slide-logo"><img src="https://http2.mlstatic.com/D_Q_NP_708219-MLA25950557769_092017-AE.webp" width="80" height="80"></div>
                            <div class="title-wrapper">
                                <div class="official-stores-slide-title">Peugeot Repuestos y Servicios</div>
                            </div>
                            <div class="official-stores-slide-items">
                                <a class="official-stores-slide-item" href="#" title="Taza De Rueda 16  Peugeot 408 1.6"><img src="https://http2.mlstatic.com/D_Q_NP_739946-MLA41601979795_042020-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Kit Bulones De Seguridad Originales Peugeot 2008 / 208"><img src="https://http2.mlstatic.com/D_Q_NP_961478-MLA41857562105_052020-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Kit Alarma Original"><img src="https://http2.mlstatic.com/D_Q_NP_942054-MLA41857468126_052020-R.webp" width="70" height="70"></a>
                            </div>
                            <div class="official-stores-slide-action"><a href="#" id="view-more">Ver tienda</a></div>
                        </div>
                    </div>
                    <div data-index="3" class="slick-slide slick-active" tabindex="-1" style="outline: none; width: 300px;">
                        <div class="ui-card official-stores-slide is-link" role="link" tabindex="0">
                            <div class="official-stores-slide-background"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/largesellers/172408742/volkswagen/background_home201711230217.jpg"></div>
                            <div class="official-stores-slide-logo"><img src="https://http2.mlstatic.com/D_Q_NP_915631-MLA25716023585_062017-AE.webp" width="80" height="80"></div>
                            <div class="title-wrapper">
                                <div class="official-stores-slide-title">Volkswagen</div>
                            </div>
                            <div class="official-stores-slide-items">
                                <a class="official-stores-slide-item" href="#" title="Filtro De Aceite Volkswagen Gol Trend 2011-2012"><img src="https://http2.mlstatic.com/D_Q_NP_602805-MLA31582970750_072019-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Filtro De Aceite Volkswagen Saveiro 2011-2013"><img src="https://http2.mlstatic.com/D_Q_NP_378725-MLA25500372022_042017-R.webp" width="70" height="70"></a>
                                <a class="official-stores-slide-item" href="#" title="Filtro De Aceite Volkswagen Voyage 2008-2011"><img src="https://http2.mlstatic.com/D_Q_NP_542825-MLA25500368327_042017-R.webp" width="70" height="70"></a>
                            </div>
                            <div class="official-stores-slide-action"><a href="#" id="view-more">Ver tienda</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>