<ul class="menu align-center" style="background-color: rgb(255, 241, 83);">
    <li>
        <img src="../../../assets/img/main.png" href="#" style="position: relative; left: -50px;"><img>
    </li>
    <li>
        <app-search inSearch="Buscar productos, marcas y más…"></app-search>
    </li>
    <li>
        <button class="btn btn-outline-transparent" type="submit" style="position: relative; left: 50px;"> 
            <img src="../../../assets/img/free-shiping.png" href="#" style="height: 30px;"><img>
        </button>
    </li>
</ul>

<app-headerb></app-headerb>