<ul class="menu align-center" style="background-color: rgb(255, 241, 83);">
    <li>
        <app-modal style="position: relative; left: 3px; top: -27px;"></app-modal>
    </li>
    <li>
        <ul class="nav" style="position: relative; left: 22px;">
            <li class="nav-item">
                <app-dropdown tag="Categorías"></app-dropdown>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; position: relative; left: -5px;">Ofertas</a>
            </li>
            <li class=" nav-item ">
                <a class="nav-link " href="# " style="color: black; position: relative; left: -25px;">Historial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; position: relative; left: -40px;">Supermercado</a>
            </li>
            <li class="nav-item">
                <a class="nav" href="#" style="color: black; position: relative; left: -55px;">Tiendas oficiales</a>
            </li>
            <li class=" nav-item ">
                <a class="nav-link " href="# " style="color: black; position: relative; left: -70px;">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; position: relative; left: -85px;">Ayuda</a>
            </li>
        </ul>
    </li>
    <li>
        <ul class="nav">
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; position: relative; left: -5px;">Creá tu cuenta</a>
            </li>
            <li class=" nav-item ">
                <a class="nav-link " href="# " style="color: black; position: relative; left: -15px;">Ingresá</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; position: relative; left: -20px;">Mis Compras</a>
            </li>
            <li class="nav-item">
                <button style="position: relative; top: -20px; left: -20px;"><img style="height: 25px;" src="../../../../assets/img/cart.png"></button>
            </li>
        </ul>
    </li>