<section class="site-shopping-info" type="site-shopping-info">
    <div class="container">
        <div class="info-slide">
            <div class="img-container"><img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" class="img-container" alt="Pagá con tarjeta o en efectivo"></div>
            <h1>Pagá con tarjeta o en efectivo</h1>
            <p><span>Con Mercado Pago, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</span></p><a href="#">Cómo pagar con Mercado Pago</a>
        </div>
        <div class="info-slide">
            <div class="img-container"><img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" class="img-container" alt="Envío gratis desde $ 2.500"></div>
            <h1>Envío gratis desde $ 2.500</h1>
            <p><span>Solo por estar registrado en Mercado Libre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</span></p><a href="#">Conocé más sobre este beneficio</a>
        </div>
        <div class="info-slide">
            <div class="img-container"><img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" class="img-container" alt="Seguridad, de principio a fin"></div>
            <h1>Seguridad, de principio a fin</h1>
            <p><span>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estás siempre protegido.</span></p><a href="#">Cómo te protegemos</a>
        </div>
    </div>
</section>