<!--modal-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Elegí dónde recibir tus compras</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="input1" class="sr-only">código postal</label>
                <input type="text" class="form-control" id="input1" placeholder="Ingresar un código postal" style="position: relative; top: 8px;">
            </div>
            <button type="btn" class="btn btn-primary mb-2">Usar</button>
            <button style="color: rgb(5, 183, 214); position: relative; left: 20px; top: -4px;">No se mi código</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- Button trigger modal -->
<button class="btn" (click)="openVerticallyCentered(content)">
    <div class="container">
    <div class="row" style="position: relative; top: 15px;">
        <p style="font-size: 10px ;">Enviar a</p>
        <div class="col-6" style="position: relative; left: -75px; top: 2px;">
            <img src="../../../../assets/img/location.png">
        </div>
    </div>
    <div class="row" style="position: relative; top: -5px;">
        <h5 style="font-size: 15px;">Capital Federal</h5>
    </div>
    </div>
</button>