<div class="card border border-white" style="width: 1500px; position: relative; left: 200px;">
    <h3 class="card-header border border-white" style="background-color: white;">{{tag}}</h3>
    <div class="card-body border border-white">
        <ngb-carousel>
            <ng-template ngbSlide>
                <div class="row" style="position: relative; left: 22px;">
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src={{images[0]}} class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$100</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src={{images[1]}} class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$100</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[2]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$100</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[3]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$100</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[4]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$100</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row" style="position: relative; left: 22px;">
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[5]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$200</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[6]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$200</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[7]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$200</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[8]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$200</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[9]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$200</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row" style="position: relative; left: 22px;">
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[10]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$300</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[11]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$300</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[12]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$300</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[13]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$300</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[14]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$300</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row" style="position: relative; left: 22px;">
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[15]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$400</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[16]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$400</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[17]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$400</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                            </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[18]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$400</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[19]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$400</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="row" style="position: relative; left: 22px;">
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[20]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$500</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[21]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$500</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[22]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$500</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[23]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$500</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                    <div class="col-18">
                        <button>
                            <div class="card" style="width: 18rem;">
                                <img src="{{images[24]}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-text">$500</h3>
                                    <p>Producto</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>