<section class="discovery" type="discovery">
    <div class="container row">
        <div class="section-header">
            <h1>{{titleMain}}</h1>
        </div>
        <div class="discovery__body">
            <a class="advertising" href="#">
                <div class="advertising__info"><span class="advertising__info__title">{{title1}}</span><span class="advertising__info__text advertising__info__text--bold">ACEPTÁ TARJETA</span><span class="advertising__info__text advertising__info__text--bold">ALIMENTAR</span>
                    <button class="advertising__info__button andes-button andes-button--small andes-button--filled">Ver más</button>
                </div>
                <div class="advertising__image"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-discovery-picture-9bbc3f19-8f8b-4bf7-b5f3-b97b49fba034.jpg" alt="MERCADO PAGO POINT"></div>
            </a>
            <a class="advertising" href="#">
                <div class="advertising__info"><span class="advertising__info__title">{{title2}}</span><span class="advertising__info__text advertising__info__text--bold">Tintura y</span><span class="advertising__info__text advertising__info__text--bold">coloración</span><button class="advertising__info__button andes-button andes-button--small andes-button--filled">Ver más</button></div>
                <div class="advertising__image"><img src="https://http2.mlstatic.com/optimize/o:f_webp/resources/deals/exhibitors_resources/mla-home-desktop-discovery-picture-635de824-67f6-4a83-8de1-c6c78a12b07a.jpg" alt="BELLEZA"></div>
            </a>
        </div>
    </div>
</section>