<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/1.png" style="width: 1920px;" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/2.png" style="width: 1920px;" alt="Random second slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/3.png" style="width: 1920px;" alt="Random third slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/4.png" style="width: 1920px;" alt="Random fourth slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../../assets/img/5.png" style="width: 1920px;" alt="Random fifth slide">
        </div>
    </ng-template>
</ngb-carousel>